<html>
    <%- include('design/navigation')%>
    <body style="background-color:deepskyblue">
            <h1 class="information">
           Prabhjot Singh
            </h1>
            <p class="information">
                <b>Lab #1- WAS500NAA</b><br><br>
                <b>This Project will consist of a:</b><br>
                - Homepage<br>
                - Books List Page<br>
                - Books Details Page<br>
                - Contact us Page <br>
                - Survey Page <br>

            </p>
    </body>
</html>