<div class="data-form">
    <form action="/books/create" method="POST">
        <h2> Enter A New Book </h2>
        <label for="BookID">Book ID</label>
        <input type="text" name="ID" id="ID"  placeholder="Book ID" autofocus>

        <label for="bookName">Book Name</label>
        <input type="text" name="name" id="name"  placeholder="Book Name">
        
        <label for="authorName">Book Author's Name</label>
        <input type="text" name="authorName" id="authorName"  placeholder="Book Author" required>
                <button type="submit">Submit</button>
    </form>
</div>