<html>
    <%- include('design/navigation')%>
    <body style="background-color: antiquewhite;">
        <div class="information">
            <h1>
            The Power of Positive Thinking
            </h1>
            <img src="thepowerofpositive.jpg"style="float:left;width:300px;height:400px;"></a>
            <p>
                <b>Author:</b> Norman Vincent Peale <br>
                <b>Publisher Name:</b> Prentice Hall <br>
                <b>Publication date:</b> 1952 <br>
                <b>Published in:</b> United States (US) <br>
                <b>Made it to:</b> New York Times Best Sellers List <br>
            </p>
        </div>
            
            
    </body>
</html>