<html>
    <%- include('design/navigation')%>
    <body style="background-color:khaki;">
        <div class="information">
            <h1>
            Man's Search for Meaning
            </h1>
            <img src="searchformeaning.jpg"style="float:left;width:300px;height:400px;"></a>
            <p>
                <b>Author:</b> Norman Victor E. Frankl <br>
                <b>Publisher Name:</b> Beacon Press <br>
                <b>Publication date:</b> 1946 <br>
                <b>Published in:</b> Austria (US) <br>
            </p>
        </div>
    </body>
</html>