<h1> Books Data</h1>
<table class="table">
    <tr>
        <th>Book ID</th>
        <td>
            <%= book.id %>
        </td>
    </tr>
    <tr>
        <th>Book Name</th>
        <td>
            <%= book.name %>
        </td>
    </tr>
    <tr>
        <th>Book Author</th>
        <td>
            <%= book.authorName %>
        </td>
    <tr>
        <td>
            <img src=<%= book.bookImage %>
        </td>
    </tr>
    </tr>
</table>
