<style type="text/css">
    .sidenav {
        position: fixed;
        background-color:firebrick;
        height: 100%;
    }
    .information {
        padding-left: 100px
    }
</style>
<div class="sidenav"> 
    <a href="home">1- Homepage</a><br><br>
    <a href="booksList">2- Books</a><br><br>
    <a href="admin">3- Admin</a><br><br>

</div>